body{
    background-color: #94c5df;

    width: auto;
}
.details{
    width: 450px;
    height: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    border: solid rgb(75,75,75);
    background-color: rgb(147, 243, 211);
    padding: 30px;
}
.details1{
    width: 450px;
    height: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    border: solid rgb(75,75,75);
    background-color: rgb(147, 243, 211);
    padding: 30px;
}
.details2{
    width: 450px;
    height: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
    margin-top: 50px;
    margin-left: 450px;
    border: solid rgb(75,75,75);
    background-color: rgb(147, 243, 211);
    padding: 30px;
}
.container{
    width: 300px;
    height: 450px;
    background-color: rgb(221, 176, 116);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}
.top_container{
    width: 93%;
    height: 85px;
    border: 10px solid rgb(221, 176, 116);
    border-radius: 10px 10px;
}
.bottom_container{
    width: 95%;
    height: 350px;
    margin-top: 30px;
    margin-left: 25px;
}
.title{
    width: auto;
    height: 100px;
    text-align: center;
    border: 5px solid rgb(223, 177, 118);
}
.input{
    width: 84%;
    height: 80px;
    border: 20px solid rgb(221, 176, 116);
    border-radius: 10px 10px 10px 10px;
    font-size: 45px;
    background-color: rgb(225, 237, 161);
    text-align: right;
    padding-right: 5px;
}
button{
    width: 50px;
    height: 40px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 0.1px solid rgb(49, 49, 16);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.greeting{
    border: solid 2px;
    background-color: aqua;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}